{
  "presets": [
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    ["@babel/proposal-decorators", {
      "legacy": true
    }],
    ["@babel/proposal-class-properties", {
      "loose": true
    }],
    ["@babel/proposal-pipeline-operator", {
      "proposal": "minimal"
    }],
    ["@babel/proposal-optional-chaining"],
    ["@babel/proposal-function-bind"],
    ["@babel/proposal-export-namespace-from"],
    ["@babel/proposal-export-default-from"]
  ]
}
